@model IEnumerable<CalculationAnnuityPayment.Models.ViewModel>

@{
    ViewData["Title"] = "CalculationResults";
}

<h1>CalculationResults</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.balanceOfDebt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.percentOnDebt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mainDebt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.amountOfPayment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.balanceOfDebt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.percentOnDebt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mainDebt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amountOfPayment)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
